@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FT Realtor</h1>
    <p class="lead">FT Realtor is a simple CRUD application which allows a user to create home entires and search through them.</p>
    <p><a href="https://www.fivetalent.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Business Requirements:</h2>
        <p>
            Create a basic realtor web site that will allow a secured user to Add/Edit and Delete a house with this information:
        </p>
        <p>
            <ul>
                <li>MLS # (Unique number)</li>
                <li>Street1</li>
                <li>Street2</li>
                <li>City</li>
                <li>State</li>
                <li>Zipcode</li>
                <li>Neighborhood</li>
                <li>SalesPrice</li>
                <li>DateListed</li>
                <li>Bedrooms</li>
                <li>Bathrooms</li>
                <li>Photos</li>
                <li>Garage Size</li>
                <li>Square Feet</li>
                <li>Lot Size</li>
                <li>Description</li>
                <li>SalesPrice</li>
            </ul>
        </p>
        <p>
            Next create a public search page to find houses based on these fields:
        </p>
        <p>
            <ul>
                <li>MLS#</li>
                <li>City</li>
                <li> State</li>
                <li>Zipcode</li>
                <li>Bedrooms</li>
                <li>Bathrooms</li>
                <li>Square Feet</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Technical Requirements:</h2>
        <p>Please complete this project using the below technical frameworks/solutions:</p>
        <p>
            <ul>
                <li><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Visual Studio &raquo;</a></li>
                <li><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">ASP.NET MVC – C# &raquo;</a></li>
                <li><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Entity Framework &raquo;</a></li>
                <li><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">SQL Server &raquo;</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Time:</h2>
        <p>
            Please record your time taken for writing code, doing research, data modeling and stylizing the website. Please do not spend more than 30 minutes on the look and feel of the application as we are mostly looking for functionality and architecture.
        </p>
    </div>
</div>